body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.imessage-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.messages {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px 0;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}


.user-message {
  background-color: #007BFF;
  color: white;
  float: right;
  min-width: 30%;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}

.user-message::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #007BFF;
  right: -10px;
  bottom: 0px;
}


.other-message {
  background-color: #EAEAEA;
  min-height: 50px; 
  width: 80%;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.other-message::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #EAEAEA;
  left: -10px;
  bottom: 0px;
}


.img_container {
  background-color: #EAEAEA;
  min-height: 50px; 
  width: 80%;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.img_container::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #EAEAEA;
  left: -10px;
  bottom: 0px;
}


.img {
width: 80%;
height: 220px;

}

.input-container {
  display: flex;
  margin-top: 10px;
}

#message-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#send-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
}


@media (max-width: 400px) {

  body{
    height: 100vh;
  }

  .imessage-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 85%;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
}